# Introduction to Python: Part 1

- This tutorial is a primer on Python Programming language for data scientists. This will introduct the important concepts or features of Python, which are essential from the Data Sciene or Machine Learning perspective.   
- The key topics in this tutorial are:
    1. Variables and data types
    2. Print statements
    3. Arithmatic and logical operations 
    4. Conditional statements
    5. Control flow statements
    6. Dealing with string
    7. Writing functions

## 1. Variables and data types

- In Python, variables need not be declared or defined in advance. To create a variable, assign it a value and then start using it.

In [67]:
var1 = 2
var2 = 5.0

In [68]:
var1

2

In [69]:
type( var1 )

int

In [70]:
type( var2 )

float

In [71]:
var3 = True

In [72]:
print(var3)

True

In [74]:
type(var3)

bool

In [75]:
int(var3)

1

#### Note:

- Variables are not statically typed. 

- In statically typed languages (e.g. c, java), a variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type.

- In Python, a variable may be assigned a value of one type and then later re-assigned a value of a different type.

In [76]:
tempVar = 3.0
type(tempVar)

float

In [77]:
tempVar = "This is a string"
type(tempVar)

str

## 2. Printing Variable Values

In [78]:
print( var1 )

2

In [79]:
mystring = 'This is python'
print( mystring )

This is python

### 2.a Advanced Print Functions

- **f-strings** (formatted string literals) are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [80]:
print( "Value of var1 is:", var2 )

Value of var1 is: 5.0

In [81]:
print(f"Value of var1 is: {var1}, var2 is: {var2} ")

Value of var1 is: 2, var2 is: 5.0

In [82]:
print(f"Value of var1 is: {var1}, var2 is: {var2:0.2f} ")

Value of var1 is: 2, var2 is: 5.00

## 3. Operations on variables .. Arithmatic or logical

In [83]:
total = var1 + var2

print(total)

7.0

In [84]:
var1 * var2

10.0

In [85]:
var1 == 2

True

In [86]:
var1 == var2

False

## 4. Conditional Statements

```
if <expr>:
    <statement>
    <statement>
    .
    .
    .
    <statement>
```

Note:

- The colon **(:)** following **&lt;expr&gt;** is must. 
- **&lt;statement&gt;** is a valid Python statement, which must be indented.     
- There can be one or more valid python **&lt;statement(s)&gt;**

In [87]:
if var1 > 1:
    print( "More than 1" )

More than 1

```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
    ...
else:
    <statement(s)>
```

In [88]:
if var1 > 5:
    print( "More than 5" )
else:
    print( "Not more than 5" )

Not more than 5

In [89]:
x = 10
y = 10

if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
else:
    print ("x=y")

x=y

### 4.a. Checking None

In [98]:
var4 = None

In [99]:
if var4 is None:
    print ("None")

None

In [100]:
var4 = 5.0

In [101]:
if var4 is not None:
    print(var4)

5.0

### 4.b. Multiple Conditions

In [103]:
math_score = 65
english_score = 45

if (math_score > 50) and (english_score > 30):
     result = "Pass"
else:
    result = "Fail"

In [104]:
result

'Pass'

### 4.b. Inline conditional statements

In [107]:
x = 10
oddEven = "even" if x % 2 == 0 else "odd"

In [108]:
oddEven

'even'

## Ex1: Participant Exercise

1. Define two variables called called age and income assign values 30 and 50000.0 respectively
2. Write a print statement using f-string to print the output as following:
    
    "Age is: 30 Years and Income is: INR 50000.0"

3. Write an if-else condition
    - if age is more than 25 and less than 40 years and income is more than 30000.0 then set a variable named "approved" to True or set to False.

Shivdeep's solution below:
March, 04 2023

In [112]:
age=30
income=50000.0
print(f"Age is: {age} Years and income is: INR {income}")

Age is: 30 Years and income is: INR 50000.0

In [119]:
if (age > 25) and (age < 40) and (income > 30000.0):
     approved = True
else: 
     approved = False

approved

True

## 5. Control Flow Statements

In [47]:
i = 1

while i < 10:
    oddEven = "even" if i % 2 == 0 else "odd"
    print(f"{i} is {oddEven}")
    i = i+1
    
print('Bye')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
Bye

## 6. Dealing with Strings

In [48]:
string0 = 'python'
string1 = "Data Science"
string2 = '''Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation. 
Python is dynamically typed and garbage-collected.'''

## defintion is taken from https://en.wikipedia.org/wiki/Python_(programming_language)

In [49]:
string2.find( "language" )

52

In [50]:
string0.capitalize()

'Python'

In [51]:
string0.upper()

'PYTHON'

In [52]:
len( string2 )

204

In [53]:
string2.split()

['Python',
 'is',
 'a',
 'high-level,',
 'general-purpose',
 'programming',
 'language.',
 'Its',
 'design',
 'philosophy',
 'emphasizes',
 'code',
 'readability',
 'with',
 'the',
 'use',
 'of',
 'significant',
 'indentation.',
 'Python',
 'is',
 'dynamically',
 'typed',
 'and',
 'garbage-collected.']

In [54]:
string2.replace( 'Python', 'R')

'R is a high-level, general-purpose programming language.\nIts design philosophy emphasizes code readability with the use of significant indentation. \nR is dynamically typed and garbage-collected.'

## 7. Functions in Python

* Data types of parameters types are not defined. 
* The types are inferred from values passed to the function.

```
def <function_name>([<parameters>]):
    <statement(s)>
```

In [55]:
def addElements( a, b ):
    return a + b

In [56]:
result = addElements( 2, 3 )

result

5

In [57]:
addElements( 2.3, 4.5 )

6.8

### 7.a Function parameters can be optional 

* The default value for the parameters can be defined in function signatures.

In [59]:
def addElements( a, b = 4 ):
    return a + b

In [60]:
addElements( 2 )

6

In [61]:
addElements( 2, 5 )

7

### 7.b Functions can return multiple values

In [122]:
def addElements( a, b ):
    return a + b, a - b

In [123]:
add, sub = addElements( 5, 2 )

In [124]:
add = addElements (5, 2)

In [125]:
print("add: ", add)
print("sub: ", sub)

add:  (7, 3)
sub:  3

## Ex2: Participant Exercise

1. Write a function 
    - named getAgeGroup
    - which takes a paramter age
    - the default value of the age is 25
    - it returns the age group as either "young" or "adult" or 'mid-age" or "old" based on age
        - if age < 20, then return young
        - if age >= 20, but < 35 then adult
        - if age >= 35, but < 55 then mid-age
        - if age > 55 then old
2. Invoke the function with different ages and test

My Solution:

In [145]:
def getAgeGroup (age = 25):
    if (age < 20):
      return "young"
    elif (age >= 20) and (age < 35):
      return "adult"
    elif (age >= 35) and (age < 55):
      return "mid-Age"
    else:
      return "old"

In [147]:
result = getAgeGroup(56)
result

'old'