# Introduction to Python: Part 2

Topics that will be discussed in this tutorial are:

1. Useful built-in functions
2. Working with collections
3. Functional Programming
4. Misclleneous Features

## 1. Useful Built-in functions

### 1.a. Math Functions

In [15]:
var1 = 0.05

In [12]:
round(var1)

0

In [13]:
round( var1, 2 )

0.01

In [17]:
square = pow( var1 , 5 )
square

3.125000000000001e-07

In [18]:
import math

In [19]:
math.sqrt(square)

0.0005590169943749475

In [20]:
from math import sqrt

In [21]:
sqrt(square)

0.0005590169943749475

### 1.b. Generate a sequence number

*range()* function returns a sequence of numbers, in a given range.

```
range (start, stop) 
```

In [22]:
numbers = range( 0, 10 )

In [23]:
numbers

range(0, 10)

In [24]:
for i in numbers: 
     print(i , end = " ")

0 1 2 3 4 5 6 7 8 9

In [25]:
len( numbers )

10

### 1.c. Generate a random number

In [26]:
from random import randint

In [93]:

var1 = randint(1,20)
var1

12

## 2. Working with Collections

### 2.a. List - Collection of elements

* List can contain heterogeneous types of elements
* Element values can repeat

In [28]:
languages = ['c', 'c++', 'java', 'go', 'python']

#### Indexing and slicing a list

In [29]:
languages[0]

'c'

In [30]:
languages[1:3]

['c++', 'java']

In [31]:
## Accessing the last element
languages[-1]

'python'

In [32]:
# how many elements in the list
len( languages )

5

#### Append to and remove from a list

In [94]:
languages.append("lisp")

In [34]:
languages

['c', 'c++', 'java', 'go', 'python', 'lisp']

In [95]:
languages.remove('lisp')

languages

['c', 'c++', 'java', 'go', 'python']

#### Concatenating two lists

In [37]:
old_languages = ['basic', 'fortran', 'pascal', 'cobol']

In [38]:
all_languages = languages + old_languages

In [39]:
all_languages

['c', 'c++', 'java', 'go', 'python', 'basic', 'fortran', 'pascal', 'cobol']

#### If an element exists in a list

In [40]:
'basic' in all_languages

True

In [41]:
'lisp' in all_languages

False

In [42]:
all_languages.index( 'python' )

4

In [43]:
all_languages.sort()

In [44]:
all_languages

['basic', 'c', 'c++', 'cobol', 'fortran', 'go', 'java', 'pascal', 'python']

#### Iterating through a list

In [48]:
numsList = list(range(1, 100))

numsList

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [49]:
# Sum all the values
total = 0

for i in numsList:
    total += i

In [50]:
total

4950

In [51]:
sum(numsList)

4950

### 2.b. Tuples - Immutable List

* Tuple is also a list but once created it can not be modified.

In [96]:
topics = ( "data science", "machine learning", 'mlops' )

In [97]:
topics

('data science', 'machine learning', 'mlops')

#### It is not allowed to change the tuple elements..

In [98]:
topics[1] = 'deep learning'

TypeError: ignored

In [55]:
langs = tuple( languages )

In [56]:
langs

('c', 'c++', 'java', 'go', 'python')

### 2.c. Set - List of non-repeating items

* Items can not repeat in set

In [57]:
b = {1, 2, 3, 4, 4, 5, 6}

In [58]:
b

{1, 2, 3, 4, 5, 6}

In [60]:
b.add( 7 )

In [61]:
b

{1, 2, 3, 4, 5, 6, 7}

In [62]:
c = {7, 8, 9, 0}

#### Applying set operations

In [63]:
c.union( b )

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
b.intersection( c )

{7}

In [66]:
c.difference( b )

{0, 8, 9}

### 2.d. Dictionary - a set of key-value pairs

- A dictionary is a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value

```
d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}
```

In [68]:
capitals = {'India': 'New Delhi', 
            'France': 'Paris',
            'Japan': 'Tokyo',
            'USA': "Washingon D.C.",
            "Germany": "Berlin",
            "Sweden": "Oslo"} 

capitals

{'India': 'New Delhi',
 'France': 'Paris',
 'Japan': 'Tokyo',
 'USA': 'Washingon D.C.',
 'Germany': 'Berlin',
 'Sweden': 'Oslo'}

In [69]:
capitals['India']

'New Delhi'

In [70]:
capitals['Sweden']

'Oslo'

In [71]:
capitals['Sweden'] = 'Stockholm'

In [72]:
capitals.keys()

dict_keys(['India', 'France', 'Japan', 'USA', 'Germany', 'Sweden'])

In [73]:
capitals.values()

dict_values(['New Delhi', 'Paris', 'Tokyo', 'Washingon D.C.', 'Berlin', 'Stockholm'])

In [74]:
capitals['China'] = "Beijing"

In [75]:
capitals

{'India': 'New Delhi',
 'France': 'Paris',
 'Japan': 'Tokyo',
 'USA': 'Washingon D.C.',
 'Germany': 'Berlin',
 'Sweden': 'Stockholm',
 'China': 'Beijing'}

In [76]:
capitals.pop("China")

'Beijing'

In [77]:
capitals

{'India': 'New Delhi',
 'France': 'Paris',
 'Japan': 'Tokyo',
 'USA': 'Washingon D.C.',
 'Germany': 'Berlin',
 'Sweden': 'Stockholm'}

### 2.e. Joining two lists

In [78]:
# Join two lists and create an dictionary... 
countries = ["India", "Australia", 'England', "New Zeland"]
names = ["Rohit Sharma", "Aaron Finch", "Jos Buttler", "Kane Williamson"]

In [79]:
captains = dict( zip( countries, names ) )

In [80]:
captains

{'India': 'Rohit Sharma',
 'Australia': 'Aaron Finch',
 'England': 'Jos Buttler',
 'New Zeland': 'Kane Williamson'}

## Ex3: Participant Exercise

1. Creata a list with the following 10 student names 

    - Krishnaa J., Jyoti Adhya, C. Haradas, Korravai Parikh, Saurandhri Vaknis, Sambridhi Holkar, Sita Padhy, Ambika Sanyal, Nehal Vadekar, Sarama Upalekar

2. Create two lists named "math_scores" and "science_scores" 
3. Populate the above two variables with randomly generated numbers between 20 and 90
4. Both the scores should have exactly 10 items only. Assume that the names and scores are mapped in the same sequence.
5. Write a function which takes math and science score of each individual returns the total score and grade
    - Grade is Pass if both the scores are greater than equal to 50
    - Grade is Fail if any one of the scores is less than 50
    - The function should return a tuple with total score and grade e.g. (110, "Pass")
    
5. Iterate through the student names and invoke the above function
6. Store all information in a dictionary with names as keys and results (tuple with total score and grade) as values.
7. Print the dictionary

Shivdeep's Solution: 

Referred to https://github.com/kanhab97 for the approach.

In [5]:
import random
students = 'Krishnaa J.', 'Jyoti Adhya', 'C. Haradas', 'Korravai Parikh', 'Saurandhri Vaknis', 'Sambridhi Holkar', 'Sita Padhy', 'Ambika Sanyal', 'Nehal Vadekar', 'Sarama Upalekar'
math_scores = random.sample(range(20, 90), 10)
science_scores  = random.sample(range(20, 90), 10)
print(math_scores)
print(science_scores)

[83, 52, 62, 59, 32, 43, 25, 58, 46, 67]
[56, 48, 42, 89, 75, 81, 72, 64, 52, 62]

In [6]:
Zip_Tuple=zip(students,math_scores,science_scores)

In [16]:
print(Zip_Tuple)

<zip object at 0x7f28cd560440>

In [18]:
def gradeCalc(math,sci):
  tot=math+sci
  if math > 50 and sci > 50:
    grade='pass'
  elif math < 50 or sci < 50:
    grade='fail'
  return ((tot, grade))

In [19]:
Dict={}

for name, mat,sc in Zip_Tuple:
    temp=gradeCalc(mat,sc)
    Dict[name]=temp

In [20]:
Dict

{'Krishnaa J.': (139, 'pass'),
 'Jyoti Adhya': (100, 'fail'),
 'C. Haradas': (104, 'fail'),
 'Korravai Parikh': (148, 'pass'),
 'Saurandhri Vaknis': (107, 'fail'),
 'Sambridhi Holkar': (124, 'fail'),
 'Sita Padhy': (97, 'fail'),
 'Ambika Sanyal': (122, 'pass'),
 'Nehal Vadekar': (98, 'fail'),
 'Sarama Upalekar': (129, 'pass')}

## 4. Important Features

### 4.a. Lambda Functions

* Lambda functions in python are key features. These are functions that can be passed as parameters to another functions.
* The functions can be anonymous and defined inline, while passing as a parameter.
* Primariliy used to deal with collections, to apply a function or operations on each individual elements of python

In [21]:
sqr = lambda x: x * x

In [22]:
sqr( 2 )

4

### 4.b. List Comprehension

- Iterating with a single line of code

In [23]:
nums = list(range(0, 10))

nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
squares = []

for x in nums:
    squares.append( sqr(x) )

print( squares )

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
a_squares = [x * x for x in nums]

In [26]:
a_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
b_squares = [sqr(x) for x in nums]

In [28]:
b_squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 4.c. map() function

- map() function allows to process or transform all the items iteratively without using an explicit for loop.

```
map(function, iterable[, iterable1, iterable2,..., iterableN])
```

In [29]:
c_squares = map(sqr, nums)

In [30]:
list(c_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
d_squares = map(lambda x: x * x, nums)

In [32]:
list(d_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Filter out the even numbers

In [33]:
evens = filter( lambda x : x % 2 == 0, nums )

In [34]:
list( evens )

[0, 2, 4, 6, 8]

In [35]:
def isEven(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [36]:
a_evens = filter( isEven, nums )

In [37]:
list(a_evens)

[0, 2, 4, 6, 8]

### 4.d. map() - Iterate through two collections

In [38]:
firstList = [1, 4, 9, 16, 25, 36, 49, 64, 81]
secondList = [1, 2, 3, 4, 5, 6, 7, 8, 9]

divisions = map(lambda x, y: x/y, firstList, secondList)

In [39]:
list(divisions)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

## Ex4: Participant Exercise

1. The variable **daily_prices** contains information about a stock open and close prices for 10 days
2. Calculate the daily gains and create a dictionary which stores the date and daily gains as shown below

```
[{'Date': '17-05-2016', 'Gain': -0.32},
 {'Date': '16-05-2016', 'Gain': 0.33},
 {'Date': '13-05-2016', 'Gain': -0.02},
 {'Date': '12-05-2016', 'Gain': 0.1},
 {'Date': '11-05-2016', 'Gain': -0.33},
 {'Date': '10-05-2016', 'Gain': 1.05},
 {'Date': '09-05-2016', 'Gain': 0.77},
 {'Date': '06-05-2016', 'Gain': -0.89},
 {'Date': '05-05-2016', 'Gain': 0.12},
 {'Date': '04-05-2016', 'Gain': -0.12}]
```

3. The gain should be calculated as (Close - Open) *100 / Open.
4. The gain value should be rounded to 2 decimal places
5. Accomplish the above task using both the approaches: List comprehension and map() function

In [40]:
daily_prices = [ {'Date': '17-05-2016', 'Open': 1218.0, 'Close': 1214.05005},
                 {'Date': '16-05-2016', 'Open': 1210.0, 'Close': 1213.94995},
                 {'Date': '13-05-2016', 'Open': 1207.0, 'Close': 1206.69995},
                 {'Date': '12-05-2016', 'Open': 1208.94995, 'Close': 1210.19995},
                 {'Date': '11-05-2016', 'Open': 1205.0, 'Close': 1201.05005},
                 {'Date': '10-05-2016', 'Open': 1200.0, 'Close': 1212.55005},
                 {'Date': '09-05-2016', 'Open': 1190.0, 'Close': 1199.1500199999998},
                 {'Date': '06-05-2016', 'Open': 1192.0, 'Close': 1181.44995},
                 {'Date': '05-05-2016', 'Open': 1191.0, 'Close': 1192.44995},
                 {'Date': '04-05-2016', 'Open': 1191.0, 'Close': 1189.55005} ]

Shivdeep's Solution:
March 07, 2023

> List Comprehension Method

In [48]:
##gain = [x * x for x in nums]
daily_prices[1]

{'Date': '16-05-2016', 'Open': 1210.0, 'Close': 1213.94995}

In [51]:
def f(i):
    dict1={}
    temp1=round((i['Close']-i['Open'])*100/i['Open'],2)
    dict1['Date']=i['Date']
    dict1['Gain']=temp1
    return(dict1)

List1 = [f(x) for x in daily_prices]

List1

[{'Date': '17-05-2016', 'Gain': -0.32},
 {'Date': '16-05-2016', 'Gain': 0.33},
 {'Date': '13-05-2016', 'Gain': -0.02},
 {'Date': '12-05-2016', 'Gain': 0.1},
 {'Date': '11-05-2016', 'Gain': -0.33},
 {'Date': '10-05-2016', 'Gain': 1.05},
 {'Date': '09-05-2016', 'Gain': 0.77},
 {'Date': '06-05-2016', 'Gain': -0.89},
 {'Date': '05-05-2016', 'Gain': 0.12},
 {'Date': '04-05-2016', 'Gain': -0.12}]